body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: white;
}

.game-container {
    text-align: center;
}

canvas {
    background: #eee;
    display: block;
    margin: auto;
}

#score {
    margin-top: 10px;
}


button {
    font-size: 16px;
    background-color: rgb(74, 48, 48);
    color: rgb(247, 245, 245);
    margin: 8px;
    padding: 8px;
}

button:hover {
    background-color: rgb(224, 144, 238);
    cursor: pointer;
}