body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: white;
}

.game-container {
    text-align: center;
}

canvas {
    background: #000000;
    display: block;
    margin: auto;
    box-shadow: 0 0 5px 5px white;
    cursor: crosshair;
}

#score {
    margin-top: 10px;
    letter-spacing: 2px;
    font-size: 25px;
}


button {
    font-size: 16px;
    background-color: white;
    color: black;
    margin: 8px;
    padding: 8px;
    letter-spacing: 2px;
    border-radius: 10px;
}

button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}