body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.game-container {
    text-align: center;
}

#gameCanvas {
    background-color: rgb(107, 116, 98);
    box-shadow: 0 0 5px 5px white;
    margin: 20px;
}

#score {
    font-size: 20px;
    color: white;
}
button {
    font-size: 16px;
    background-color: rgb(74, 48, 48);
    color: rgb(247, 245, 245);
    margin: 8px;
    padding: 8px;
}

button:hover {
    background-color: rgb(224, 144, 238);
    cursor: pointer;
}