body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

.game-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
.gameCanvas {
    box-shadow: 0 0 5px 5px white;
}

#score {
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
}

button {
    font-size: 16px;
    background-color: white;
    color: black;
    margin: 8px;
    padding: 8px;
    letter-spacing: 2px;
    border-radius: 10px;
}

button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
