body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

.game-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

#gameCanvas {
    background-color: #6a6161;
    margin-top: 20px; 
}
