body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

.game-container {
    text-align: center;
}

#gameCanvas {
    background-color: #fff;
    margin-bottom: 10px;
}